# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environnements virtuels
.venv/
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Logs et fichiers temporaires
*.log
*.tmp
